<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript><link href="{{ 'component-mega-menu.css' | asset_url }}" rel="stylesheet" type="text/css"></noscript>
{%- endif -%}

<noscript><link href="{{ 'component-list-menu.css' | asset_url }}" rel="stylesheet" type="text/css"></noscript>
<noscript><link href="{{ 'component-search.css' | asset_url }}" rel="stylesheet" type="text/css"></noscript>
<noscript><link href="{{ 'component-cart-notification.css' | asset_url }}" rel="stylesheet" type="text/css"></noscript>
<noscript><link href="{{ 'component-cart.css' | asset_url }}" rel="stylesheet" type="text/css"></noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__heading-logo {
    max-width: {{ section.settings.logo_width_mobile }}px;
  }
  
  @media screen and (min-width: 990px) {
    .header__heading-logo {
      max-width: {{ section.settings.logo_width }}px;
    }
  }
</style>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-header {
    position: sticky; /* Kept for mobile stickiness */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign header_tag = 'div'
  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
-%}

<{{ header_tag }} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header page-width header--{{ section.settings.logo_position }}">
    
    <div class="header-left-menu">
      {% render 'header-menu-split', menu: linklists[section.settings.menu_left] %}
    </div>
    
    <div class="header-center-logo">
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo',
                width: settings.logo_width,
                height: logo_height,
                alt: logo_alt,
                preload: true
            }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </div>

    <div class="header-right-menu">
        {% render 'header-menu-split', menu: linklists[section.settings.menu_right] %}
        
        <div class="header__icons">
          <a href="{{ routes.search_url }}" class="header__icon header__icon--search link focus-inset" aria-label="{{ 'general.search.search' | t }}">
            {% render 'icon-search' %}
          </a>
          
          {%- if shop.customer_accounts_enabled -%}
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="header__icon header__icon--account link focus-inset">
              {% render 'icon-account' %}
              <span class="visually-hidden">
                {%- if customer -%}
                  {{ 'customer.account_fallback' | t }}
                {%- else -%}
                  {{ 'customer.log_in' | t }}
                {%- endif -%}
              </span>
            </a>
          {%- endif -%}
  
          <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
            {%- if cart == empty -%}
              {% render 'icon-cart-empty' %}
            {%- else -%}
              {% render 'icon-cart' %}
            {%- endif -%}
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>
        </div>
    </div>
    
  </header>
</{{ header_tag }}>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        { "value": "middle-center", "label": "Middle Center" }
      ],
      "default": "middle-center",
      "label": "Logo position",
      "info": "Centered Logo with split menus is the only supported layout."
    },
    {
      "type": "link_list",
      "id": "menu_left",
      "default": "main-menu",
      "label": "Left Menu"
    },
    {
      "type": "link_list",
      "id": "menu_right",
      "default": "footer",
      "label": "Right Menu"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Logo width (desktop)",
      "default": 100
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Logo width (mobile)",
      "default": 80
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "on-scroll-up", "label": "On scroll up" },
        { "value": "always", "label": "Always" }
      ],
      "default": "on-scroll-up",
      "label": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "Show separator line"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    }
  ]
}
{% endschema %}